 header
{
    border: 0.2vmin ridge #CFB53B;
    background-image: url("img/bg_header.jpeg");
}
 body
 {
    background-color: #4169E1;
 }
 table
 {
    margin-left: auto;
    margin-right: auto;
 }
td
{
    border: 0.3vmin ridge #CFB53B;
    background-color: white;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.legende
{
    margin-top: 7px;
    margin-bottom: 0;
    text-align: center;
    font-size: 12;
    font-family: sans-serif;
    font-weight: bold;
}
.price
{
    font-weight: bolder;
    color: green;
}
.panier
{
    margin-left: 0;
}
nav
{
    width: 100%;
    background-color: #424558;

}
nav > ul
{
    float: left;
    margin: 0px;
    padding: 0px;
}
nav > ul > li
{
    float: left;
    position: relative;
}
nav li
{
    list-style-type: none;
}
nav > ul > li > a
{
    padding: 20px 30px;
    color: white;
}
nav > ul > li:hover
{
    padding: 15px 30px 20px 30px;
}
.submenu
{
    display: none;
}
nav a
{
    display: inline-block;;
    text-decoration: none;
}
nav li:hover .submenu
{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;

}
.submenu li a
{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}
.submenu li
{
    border-bottom: 1px solid grey;
}

.submenu li a
{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}

.carte
{
    border-top: 5px solid #C0C0C0;
    background-color: #C0C0C0;
}
.jeux
{
    border-top: 5px solid #C0C0C0;
    background-color: #C0C0C0;
}
.carte .submenu
{
    background-color: #C0C0C0;
}
.jeux .submenu
{
    background-color: #C0C0C0;
}
.submenu li:hover a
{
    color: yellow;
    font-weight: bold;
}