table
{
	border-collapse: block;
	width: 100%;
	height: 100%;
}
td
{
	border: 0.2vmin ridge black;
}
.masse
{
	bottom: top-right;
}
.symbole
{
	text-align: center;
	font-weight: bold;
	font-size: 2vmin;
}
.number
{
	text-align: right; 
}
.orange
{
	background-color: orange;
}
.yellow
{
	background-color: yellow;
}
.green
{
	background-color: green;
}
.bluesky
{
	background-color: #CCEEFF;
}
.violet
{
	background-color: violet;
}
.grey
{
	background-color: grey;
}
.brown
{
	background-color: brown;
}
.pink
{
	background-color: pink;
}
.red
{
	background-color: red;
}
.blue
{
	background-color: blue;
}
.span
{
	position: relative;
	width: 4vmin;
	height: 5vmin;
}
.capt
{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 2vmin;
}